body {
    background-image: url(../images/login-backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.formulario {
    background: rgba(0,0,0,.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    color: white;
}

.form-control {
    background: rgba(0,0,0,.3);
    border-style: none;
    transition: 0.2s ease-in;
    outline: none;
    box-shadow: none;
}

.form-control::placeholder{
    color: white;
}

.form-control:focus {
    background: none;
    box-shadow: none;
    color: white;
}

.boton1 {
    background: rgba(0, 0, 0, .5);
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    transition: 0.2s ease-in;
    text-decoration: none;
    border-radius: 10px;
}

.boton1:hover {
    text-decoration: none;
    color: rgb(188, 188, 188);
}

.ingresar:hover {
    color: white;
}

.forgot {
    color: rgb(223, 223, 223);

}

.forgot:hover {
    color: rgb(188, 188, 188);
    cursor: pointer;
}

.forgot1 {
    color: rgb(223, 223, 223);
    font-weight: 700!important;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
    text-decoration: none;
}

.forgot1:hover {
    color: rgb(188, 188, 188);
    cursor: pointer;
    text-decoration: none;
}



